body {
	background-image: https://static1.squarespace.com/static/55dfd642e4b071fdb5c58d2d/t/55e067fee4b0edb1e41555a1/1440770046014/Venezia-tourism-guide.jpg;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: white;
}

h1 {
  display:block;
  color: whitesmoke;
  padding: 10;
	margin-bottom: 50;
	overflow: hidden;
	text-align: center;
	font-family: 'Rubik', 'Segoe UI', 'San Francisco', 'Calibri', Arial, sans-serif;
}

div.img {
  float:none;
  padding:inherit;
  position: fixed;
}

div.img1 {
  float:none;
  padding:inherit;
  position: fixed;
}

div.img2 {
  float:none;
  padding:inherit;
  position: fixed;
}

div.img3 {
  float:none;
  padding:inherit;
  position: fixed;
}
div.mortimg {
  position: fixed;
  right: 710px;
  bottom: 85px;
}

div.kingimg {
  position: fixed;
  right: 710px;
  bottom: 85px;
}
