html, body {
	background: #7FFFD4;
	font-family: "Ubuntu Mono", monospace;
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
  padding: 20px;
  text-align: center;
  min-width: 700px; 
}

  
.logo {
  width: 640px;
  height: 55px;
  color: #20B2AA;
  	text-shadow: 2px 2px #008080; /*basic shadow*/
  text-align: center;
  line-height: 56px;
  font-size: 50px;
  letter-spacing: 5px;
  
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px; 
  }
  
  h1{
	  padding: 20px;
	  font-size: 30px;
	  text-align: center;
	  color: #00008B;
	  text-shadow: 2px 2px #008080; /*basic shadow*/
  }
  
  
  table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }
  

  
  img {
	display: block;
  margin: auto;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;  
  }
  
  p img {
	  display: block;
	  margin: auto;
  }
  
  p {
	  font-size: 18px;
	  color: #00008B;
  }
  
  
  p a {
	 font-size: 20px;
	 width: 90px;
	 height: 40px;
    color: #008080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
p a:hover {
    background-color: #20B2AA;
}
  
  p a:hover, a:focus {text-decoration: underline};